@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: #2980b9;
}
.Blur {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.All
{
  display: flex; 
  justify-items: center;
  border-radius: 5px;
  color:white
}
.All::-webkit-scrollbar
{
  display: none;
}
.B1 p:first-child
{
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #273c75;
}
